[Desktop Entry]
Encoding=UTF-8
Name=RecordItNow
Exec=recorditnow
Icon=video-display
Type=Application
Categories=Qt;KDE;AudioVideo;
comment=Desktop Recorder GUI
