[Desktop Entry] 
Encoding=UTF-8
Name=Screenshot
Comment=Make a Screenshot
Icon=image-x-generic
Type=Service                                                     
X-KDE-ServiceTypes=RecordItNowRecorder     
X-KDE-Library=recorditnow_screenshot
X-KDE-PluginInfo-Name=ScreenshotRecorder
X-KDE-PluginInfo-Category=Recorder
X-KDE-PluginInfo-Author=Kai Dombrowe
X-KDE-PluginInfo-Email=just89@gmx.de
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/RecordItNow?content=114610
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-RecordItNow-FPS=false
X-RecordItNow-Sound=false
X-RecordItNow-Pause=false
X-RecordItNow-Stop=false
X-RecordItNow-ConfigGroup=ScreenshotRecorder
X-RecordItNow-DefaultFile=${home}/screenshot.${config:Format:png}

