[Desktop Entry] 
Encoding=UTF-8
Name=Example Recorder
Comment=RecordItNow Example Script
Icon=application-javascript
Type=Service                                                                               
X-KDE-ServiceTypes=RecordItNowScript                                                      
X-KDE-PluginInfo-Name=RecorderExampleScript
X-KDE-PluginInfo-Category=Script
X-KDE-PluginInfo-Author=Kai Dombrowe
X-KDE-PluginInfo-Email=just89@gmx.de
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-Website=http://recorditnow.sourceforge.net/index.html
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-RecordItNow-ScriptType=Recorder
X-RecordItNow-FPS=true
X-RecordItNow-Sound=true
X-RecordItNow-Pause=false
X-RecordItNow-Stop=true
X-RecordItNow-DefaultFile=desktop_video.ogv
X-RecordItNow-TimelineEnabled=true
X-RecordItNow-MouseEnabled=true
X-RecordItNow-KeyboardEnabled=true

