[Desktop Entry] 
Encoding=UTF-8
Name=YouTube
Comment=Upload your videos to YouTube
Icon=recorditnow_youtube
Type=Service                                                                               
X-KDE-ServiceTypes=RecordItNowUploader 
X-KDE-Library=recorditnow_youtube
X-KDE-PluginInfo-Name=YouTubeUploader
X-KDE-PluginInfo-Category=Uploader
X-KDE-PluginInfo-Author=Kai Dombrowe
X-KDE-PluginInfo-Email=just89@gmx.de
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://kde-apps.org/content/show.php/RecordItNow?content=114610
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
